/*
====================================
Utility alignments
====================================
*/
.u-align--right {
  text-align: right;
}
@media screen and (min-width: 641px){
  .u-align--tablet-right {
    text-align: right;
  }
}

@media screen and (min-width: 641px) {
  .page-header .heading-secondary {
    font-size: 27px;
    line-height: 1.11111;
    padding-bottom: 6px;
    padding-top: 4px;
  }
}

.u-align--center {
    text-align: center;
}

/*
====================================
Utility bold
Pulled from GDS elements typography
====================================
*/
.bold {
  font-weight: 700;
}
label > .bold {
  display: block; /*temp fix until form story can fix label structure*/
}
